*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #000;   */
    position: relative;
}

.clear {
    clear: both;
}

#app {
    position: relative;
}



#slider {
    width: 100%;
}

#slider .slider-show {
    display: flex;
    align-items: center;
    position: relative;
    height: 12rem;
    width: 100%;
    background: url(../img/payment/payment-header.jpg) center center / cover no-repeat;
    overflow: hidden;
}

#slider .slider-show .slider-content {
    position: static;
    transform: translateY(0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0 10px;
}

#slider .slider-show .slider-content .slider-content-item {
    margin-bottom: 12px;
}

#slider .slider-show .slider-content .slider-title h1 {
    color: #333333;
    letter-spacing: -.025em;
    margin-bottom: 0;

}

#slider .slider-show .slider-content .slider-title span {
    display: block;
    color: #cc9966;
    margin-top: 0.8rem;

}

#content {
    background-color: #fff;
}

#content {}

#content .cart {
    width: 100%;
    margin: auto;
}

#content .cart .container {
    max-width: 100%;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-9 .col-lg-3 {
    position: relative;
    width: 100%;
}

table {
    display: table;
    width: 80%;
    text-indent: initial;
    margin-bottom: 22px;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

.table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table th {
    vertical-align: middle;
    /* text-align: center; */
}

.table td {
    vertical-align: middle;
}

.table th,
.table thead th,
.table td {
    border-top: none;
}

.table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border: none;
}

.table tbody .product-col {}

.table tbody .product-col .product {
    display: flex;
    align-items: center;
    margin: 0;
    /* padding-right: 2rem; */
    /* box-shadow: none; */
}

.product {
    position: relative;
    /* margin-bottom: 1rem; */
    transition: box-shadow .35s ease;
    background-color: #fff;
}

.product-col .product-media {
    display: inline-block;
    margin: 0;
    margin-right: 2.8rem;
    flex-shrink: 0;
    max-width: 60px;
}

.product-col .product-media img {
    display: block;
    max-width: 100%;
    height: auto;
}

.product-col .product-title {
    display: inline-block;
    color: #333333;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}

.product-title {
    letter-spacing: inherit;
}

.product-title a {
    color: inherit;
}

.table .table-cart .price-col {
    width: 120px;
}

.table .table-cart .quantity-col {
    width: 100px;
}

.cart-product-quantity {
    width: 100px;
}

.cart-product-quantity input {}

.content .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.table .remove-col button {
    background-color: #fff;
    border: none;
}

.table .remove-col button i {
    font-size: 23px;
}

.cart-bottom {}

.col-log-4 {}

.col-log-4 table {
    border: none;
}

.summary {
    padding: 2.5rem 3rem 3rem;
    border: 0.1rem dashed #d7d7d7;
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    margin-bottom: 32px;
}

.summary-cart {}

.summary-title {
    padding: .75rem;
    border-bottom: 0.1rem solid #ccc;
}

.summary-table tbody tr{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 0.1rem solid #ebebeb;

}

.btn-outline-warning {
    color: #cc9966;
    border-color: #cc9966;
}

.btn-outline-warning:hover {
    background-color: #cc9966;
    color: #fff;
    border-color: #cc9966;
}

.btn-outline-dark {
    padding: 10px 0;
    background-color: #fff;
    color: #000;
    border-color: #ebebeb;
}

.btn-outline-dark:hover {
    background-color: #fafafa;
    color: #c96;
    border-color: #ebebeb;
}

.summary-subtotal {}

.summary-shipping {
    font-weight: 600;
}

.col-log-4 .summary .summary-shipping-row,
.col-log-4 .summary .summary-subtotal,
.col-log-4 .summary .summary-total {
    display: flex;
    justify-content: space-between;
}

.summary-table .summary-shipping-row .shipping-price {
    text-align: right;
}

.summary-shipping-row .form-check {}

.summary-shipping-row .form-check .form-check-label {
    /* padding: -6px 4px; */
}

.summary-shipping-estimate {}

.summary-shipping-estimate .shipping-address {
    display: block;
    margin-top: 8px;
}


.summary-shipping-estimate a {
    color: #cc9966;
    /* border-bottom: 0.1rem solid #999999; */
    opacity: 0.8;
}

.summary-shipping-estimate a:hover {
    text-decoration: none;
    opacity: 1;
}

.summary-total {}

/* Footer */