.container{
    max-width: 80%;
    padding: 0 10px;
}

#product-slider {
    width: 100%;
}

#product-slider .slider-show {
    display: flex;
    align-items: center;
    position: relative;
    height: 240px;
    width: 100%;
    background: url(../img/payment/payment-header.jpg) center center / cover no-repeat;
    overflow: hidden;
}

#product-slider .slider-show .slider-content {
    position: static;
    transform: translateY(0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0 10px;
}

#product-slider .slider-show .slider-content .slider-content-item {
    margin-bottom: 12px;
}

#product-slider .slider-show .slider-content .slider-title h1 {
    color: #333333;
    letter-spacing: -.025em;
    margin-bottom: 0;

}

#product-slider .slider-show .slider-content .slider-title span {
    display: block;
    color: #cc9966;
    margin-top: 0.8rem;

}

.row{
}

.col-lg-3{
    
}



.slider {
    --primary: #275efe;
    --handle: #fff;
    --handle-active: #becfff;
    --handle-hover: #e9efff;
    --handle-border: 2px solid var(--primary);
    --line: #cdd9ed;
    --line-active: var(--primary);
    height: 23px;
    width: 100%;
    position: relative;
    pointer-events: none;
}

.slider .ui-slider-handle {
    --y: 0;
    --background: var(--handle);
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 23px;
    height: 23px;
    transform: translateX(-50%);
    position: absolute;
    outline: none;
    display: block;
    pointer-events: auto;
}

.slider .ui-slider-handle div {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition: background 0.4s ease;
    transform: translateY(calc(var(--y) * 1px));
    border: var(--handle-border);
    background: var(--background);
}

.slider .ui-slider-handle:hover {
    --background: var(--handle-hover);
}

.slider .ui-slider-handle:active {
    --background: var(--handle-active);
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.slider svg {
    --stroke: var(--line);
    display: block;
    height: 83px;
}

.slider svg path {
    fill: none;
    stroke: var(--stroke);
    stroke-width: 1;
}
.slider .active, .slider > svg {
    position: absolute;
    top: -30px;
    height: 83px;
}
.slider > svg {
    left: 0;
    width: 100%;
}
.slider .active {
    position: absolute;
    overflow: hidden;
    left: calc(var(--l) * 1px);
    right: calc(var(--r) * 1px);
}
.slider .active svg {
    --stroke: var(--line-active);
    position: relative;
    left: calc(var(--l) * -1px);
    right: calc(var(--r) * -1px);
}
.slider .active svg path {
    stroke-width: 2;
}

.col-lg-9{
    height: 1800px;
}

/* .col-lg-9 .row{
    display: flex;
    justify-content: space-around;
} */

.breadcrumb-nav {
    margin-bottom: 2rem;
    border-bottom: .1rem solid #ccc;
    width: 100%;
}

.container {
    width: 100%;
    padding: 16px 20px;
}

.breadcrumb {
    margin: 0;
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 0;

}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item:hover a {
    color: #c96;    
    text-decoration: none;
}

/* left nav */

.col-lg-3 .widget {
    color: #333;
    margin: 0 0 12px;
    border-bottom: .1rem solid #ebebeb;
}

.col-lg-3 .widget-clean {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: 2.3rem; 
}

.col-lg-3 .widget-clean label {
    color: inherit;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -.01rem;
    margin: 0;
    display: inline-block;
}

.sidebar-filter-clean {
    text-transform: capitalize;
    color: #c96;
}

.col-lg-3 .widget-clean a {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    margin-left: auto;
}

.col-lg-3 .widget-clean a:hover {
    text-decoration: none;
    color: #c96;
    opacity: 0.8;
}

.col-lg-3 .widget-collapsible {
    overflow: hidden;
}

.widget-collapsible .widget-title {
    color: #333;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.01rem;    
    margin-bottom: 16px;
}

.widget-collapsible .widget-title a {
    position: relative;
    display: flex;
    color: inherit;
    text-decoration: none;
    padding-right: 2px;
}

.widget-collapsible .widget-title a i {
    display: inline-block;
    margin-left: auto
}

.widget-collapsible .widget-body {

}

.widget-collapsible .widget-body .filter-item {

}

.widget-collapsible .widget-body .filter-item .item-count {

}

.widget-collapsible .category {
    /* display: flex; */
}

.widget-collapsible .category  a{
    display: block;
}

.widget-collapsible .category .filter-item {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.widget-collapsible .category .filter-item .filter-name,
.widget-collapsible .category .filter-item .item-count {
    color: #000;
}

.widget-collapsible .category .filter-item a {
    /* width: 100%; */
    
}

.widget-collapsible .category .filter-item:hover {
    text-decoration: none;
    
}

.widget-collapsible .category .filter-item:hover .filter-name,
.widget-collapsible .category .filter-item:hover .item-count {
    color: #c96;
}

/* end left nav */

.card{

}

.col-md-3{
    /* background-color: red; */
    /* margin: 0 12px; */
}

.card-img-top{
    height: 150px;
    width: 180px;
}

.card-body{

}

.card-title{

}

.btn .btn-primary{

}

.row {

}

/* Begin Price Slider */

.price-slider-wrapper{
    position: relative;
    width: 95vmin;
    background-color: #ffffff;
    padding: 50px 40px 20px 40px;
    border-radius: 10px;
}
.price-slider-container{
    position: relative;
    width: 100%;
    height: 100px;
    /* margin-top: 30px; */
}
.price-slider input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.price-slider .slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
.price-slider input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.price-slider input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.price-slider input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
.price-slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #cc9966;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
.price-slider input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #cc9966;
    pointer-events: auto;
}
.price-slider input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #cc9966;
    pointer-events: auto;
}
.price-slider input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #cc9966;
}
.price-slider .values{
    /* background-color: #3264fe; */
    /* width: 32%; */
    /* position: relative; */
    /* margin: auto; */
    /* padding: 10px 0; */
    /* border-radius: 5px; */
    /* text-align: right; */
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    /* color: #ccc; */
}

.price-slider .range-name {
    font-size: 20px;
    color: #333;
}

.price-slider .price-range span {
    font-size: 18px;
    font-weight: 300
}

/* .price-slider .values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #3264fe;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
} */

/* End price slider */

.content-item .item-container .product-item-content .row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: 0 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: box-shadow .35s ease;
    height: 100%;
    width: 100%; 
}

.product-item-content {
    display: flex;
    flex-wrap: wrap;
}

.product-item-content .col-product {
    padding: 0 10px;
    width: 33%;
    position: relative;
    height: 500px;
    margin-bottom: 12px;

}

.product-item-content .col-product .product-header > a{
    display: block;
}

.product-item-content .col-product .product-header .product-img {
    display: block;
    width: 100%;
    height: 324px;
}

.product-action-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 3rem;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease; 
    transform: translateX(-50px);
    z-index: 1;
}

.product-header:hover .product-action-vertical {
    right: 2rem;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.btn-product-icon {
    background-color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.btn-product-icon i{
    text-decoration: none;
    color: #cc9966;
}

.btn-wishlist:hover, .btn-quickview:hover, .btn-compare:hover {
    background-color: #cc9966;
    color: #fff;
    text-decoration: none;
    transition: 0.35s ease; 
}

.btn-product-icon:hover i{
    color: #fff;
}

.btn-expand:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-expand {
    position: relative;
}

.btn-expand:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn-expand span {
    position: absolute;
    right: 80%;    
    top: 0;
    bottom: 0;
    align-items: center;
    text-align: center;
    display: inline-flex;
    font-size: 12px;
    letter-spacing: 0; 
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 0.8rem;
    min-width: 116px;
    color: #fff;
    background-color: #cc9966;
    transition: all .35s ease;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: translateX(-15px);
    visibility: hidden;
    opacity: 0;
}

.btn-wishlist {

}

.btn-quickview {
    margin-top: 8px;
}

.btn-compare {
    margin-top: 8px;
}

figure {
    margin: 0;
}

.product-header a {
    /* overflow: hidden; */
}

.product-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 93.8%;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .35s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-128px);
    padding: 4px 0;
}

.product-action .btn-product-cart i {
    font-size: 22px;
}

.product-header:hover .product-action {
    visibility: visible;
    opacity: 1;
    transform: translateY(-176px);
}

.product-header .product-action .btn-product-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;  
    line-height: 1;
    transition: all .35s ease;
    flex-grow: 1;
    color: #cc9966;
    background-color: #fff;
    padding: 12px 0;
    text-transform: uppercase;
}

.product-action:hover .btn-product-cart {
    background-color: #cc9966;
    color: #fff;
    text-decoration: none;
}

.product-action:hover {
    background-color: #cc9966;
}

.product-content {
    position: relative;
    padding: 20px 24px;
    z-index: 2;
    background-color: #fff;
    text-align: center !important; 
}

.product-content .product-cat {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 4px;
}

.product-cat a {
    color: #777;
}

.product-content .product-cat a:hover {
    text-decoration: none;
    color: #cc9966;
    transition: all .5s ease;
}


.product-content .product-title {

}

.product-content .product-price {

}


.btn-buy {

}

.product-title {
    font-size: 20px;
    margin: 0;
    /* color: #000; */
}

.product-title a{
    color: #000;
    text-decoration: none;
    font-weight: 350;
}

.product-title:hover a{
    color: #cc9966;
    transition: all .5s ease;
}

.product-price {
    color: #cc9966;
    font-size: 20px;
    font-weight: 400;
}