.container{

}

#product-slider {
    width: 100%;
}

#product-slider .slider-show {
    display: flex;
    align-items: center;
    position: relative;
    height: 12rem;
    width: 100%;
    background: url(../img/payment/payment-header.jpg) center center / cover no-repeat;
    overflow: hidden;
}

#product-slider .slider-show .slider-content {
    position: static;
    transform: translateY(0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0 10px;
}

#product-slider .slider-show .slider-content .slider-content-item {
    margin-bottom: 12px;
}

#product-slider .slider-show .slider-content .slider-title h1 {
    color: #333333;
    letter-spacing: -.025em;
    margin-bottom: 0;

}

#product-slider .slider-show .slider-content .slider-title span {
    display: block;
    color: #cc9966;
    margin-top: 0.8rem;

}

.row{

}

.col-lg-3{
    
}

.list-group{

}

.list-group-item{

}

.list-group-item-action{

}

body.ui-slider-active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.box {
    --primary: #275efe;
    --headline: #3F4656;
    --text: #99A3BA;
    width: 100%;
    max-width: 312px;
    padding: 36px 32px 48px 32px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(18, 22, 33, 0.12);
}
.box h3 {
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: var(--headline);
}
.box h3 span {
    font-weight: 500;
}
.box .values div,
.box small div {
    display: inline-block;
    vertical-align: top;
}
.box .values {
    margin: 0;
    font-weight: 500;
    color: var(--primary);
}
.box .values > div:first-child {
    margin-right: 2px;
}
.box .values > div:last-child {
    margin-left: 2px;
}
.box small {
    color: var(--text);
    display: block;
    margin-top: 8px;
    font-size: 14px;
}
.box .slider {
    margin-top: 40px;
}

.slider {
    --primary: #275efe;
    --handle: #fff;
    --handle-active: #becfff;
    --handle-hover: #e9efff;
    --handle-border: 2px solid var(--primary);
    --line: #cdd9ed;
    --line-active: var(--primary);
    height: 23px;
    width: 100%;
    position: relative;
    pointer-events: none;
}
.slider .ui-slider-handle {
    --y: 0;
    --background: var(--handle);
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 23px;
    height: 23px;
    transform: translateX(-50%);
    position: absolute;
    outline: none;
    display: block;
    pointer-events: auto;
}
.slider .ui-slider-handle div {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition: background 0.4s ease;
    transform: translateY(calc(var(--y) * 1px));
    border: var(--handle-border);
    background: var(--background);
}
.slider .ui-slider-handle:hover {
    --background: var(--handle-hover);
}
.slider .ui-slider-handle:active {
    --background: var(--handle-active);
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.slider svg {
    --stroke: var(--line);
    display: block;
    height: 83px;
}
.slider svg path {
    fill: none;
    stroke: var(--stroke);
    stroke-width: 1;
}
.slider .active, .slider > svg {
    position: absolute;
    top: -30px;
    height: 83px;
}
.slider > svg {
    left: 0;
    width: 100%;
}
.slider .active {
    position: absolute;
    overflow: hidden;
    left: calc(var(--l) * 1px);
    right: calc(var(--r) * 1px);
}
.slider .active svg {
    --stroke: var(--line-active);
    position: relative;
    left: calc(var(--l) * -1px);
    right: calc(var(--r) * -1px);
}
.slider .active svg path {
    stroke-width: 2;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", Arial;
    background: #CDD9ED;
} */
body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}
body .dribbble img {
    display: block;
    height: 28px;
}

.col-lg-9{
    
}

/* .col-lg-9 .row{
    display: flex;
    justify-content: space-around;
} */

.card{

}

.col-md-3{
    /* background-color: red; */
    /* margin: 0 12px; */
}

.card-img-top{
    height: 150px;
    width: 180px;
}

.card-body{

}

.card-title{

}

.btn .btn-primary{

}

/* .row {
    display: flex;
    flex-wrap: wrap;
} */

.product-list {
    /* margin-left: 16.6666667%; */
    padding: 0 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: box-shadow .35s ease;
    height: 380px;
    width: 100%;   
}

.content-item .item-container .product-list .row{
    /* height: 60%; */
}

.product-list .col-product {
    padding: 0 10px;
    width: 100%;
    position: relative;
    height: 300px;

}

.product-list .product-cover {
    display: flex;
    justify-content: space-between;
}

.product-list .col-product .product-header > a{
    display: block;
}

.product-list .col-product .product-header .product-img {
    display: block;
    width: 244px;
    height: 324px;
}

.product-action-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease; 
    transform: translateY(50px);
    z-index: 1;
}

.product-header:hover .product-action-vertical {
    top: 3rem;  
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.btn-product-icon {
    background-color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.btn-product-icon i{
    text-decoration: none;
    color: #000;
}

.btn-wishlist:hover, .btn-quickview:hover, .btn-compare:hover {
    background-color: #cc9966;
    color: #fff;
    text-decoration: none;
    transition: 0.35s ease; 
}

.btn-product-icon:hover i{
    color: #fff;
}

.btn-expand:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-expand {
    position: relative;
}

.btn-expand:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn-expand span {
    position: absolute;
    right: 80%;    
    top: 0;
    bottom: 0;
    align-items: center;
    text-align: center;
    display: inline-flex;
    font-size: 12px;
    letter-spacing: 0; 
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 0.8rem;
    min-width: 116px;
    color: #fff;
    background-color: #cc9966;
    transition: all .35s ease;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: translateX(-15px);
    visibility: hidden;
    opacity: 0;
}

.btn-wishlist {

}

.btn-quickview {
    margin-top: 8px;
}

.btn-compare {
    margin-top: 8px;
}

figure {
    margin: 0;
}

.product-header a {
    /* overflow: hidden; */
}

.product-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 244px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .35s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    padding: 4px 0;
}

.product-header:hover .product-action {
    visibility: visible;
    opacity: 1;
    transform: translateY(24px);
}

.product-header .product-action .btn-product-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;  
    line-height: 1;
    transition: all .35s ease;
    flex-grow: 1;
    color: #000;
    background-color: #fff;
    padding: 12px 0;
    text-transform: uppercase;
}

.product-action:hover .btn-product-cart {
    background-color: #cc9966;
    color: #fff;
    text-decoration: none;
}

.product-action:hover {
    background-color: #cc9966;
}

.product-content {
    position: relative;
    padding-top: 12px;
    z-index: 2;
}

.product-content{
    background-color: #fff;
}

.btn-buy {

}

.product-title {
    font-size: 16px;
    margin: 0;
    /* color: #000; */
}

.product-title a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.product-title:hover a{
    color: #cc9966;
}

.product-price {
    color: rgba(0, 0, 0, 0.5);
}